/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	color: #FFFFFF;
}
a:hover {
	color: white;
}

.body {
	background: url(img/fon.png) no-repeat fixed;
    background-size: 100%;
}
.body1{
	background: url(img/mainfonn.png) no-repeat fixed;
    background-size: 100%;
}
.logo{
	background-image: url(img/logotipchik.png);
	width: 130px;
	height: 75px;
	left: 5px;
	top: 25px;
	margin-top: 29px;
	margin-left: 80px;
}
a{
	color: #514C4C;
	text-decoration: none;
}
a:hover{
	color: #514C4C;
}
.knopka{
	position: absolute;
	width: 163px;
	height: 127px;
	left: 260px;
	top: 1px;
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: 400;
	font-size: 89px;
	line-height: 127px;
	text-align: center;
	border: none;
	background:none;
	color: #514C4C;
}

.acount{
	background-image: url(img/acc.png);
	width: 58px;
	height: 51px;
	background-color:#CFCCCC;
	border: none;
	position: absolute;
	left: 1442px;
	top: 16px;
	border-radius: 18px;
	}

.conteiner{
	margin-left: 60px;
	margin-top: 40px;
	top: 150px;
	height: 801px;
	width: 1345px;
	border-radius: 24px;
	float:left;
}
.searcher{
	margin-left: 20px;
	margin-top: 20px;
	top: 150px;
	height: 610px;
	width: 280px;
	border: 2px solid #D1F3F5;
	border-radius: 24px;
	border: 1px solid black;
	float:left;
	/* background-color: #C6DBDD; */
	background-color:rgba(198,219,221,0.8);
}
.booker{
	margin-left: 50px;
	margin-top: 20px;
	top: 150px;
	height: 651px;
	width: 930px;
	border: 2px solid #D1F3F5;
	border-radius: 24px;
	float:left;
	background-color:rgba(198,219,221,0.8);
	border: 1px solid black;
}
.php{
	border: 2px solid #D1F3F5;
	border-radius: 24px;
	width: 262px;
	height: 35px;
	margin: 8px;
	border: 1px solid black;
}

.book{
	width: 245px;
	height: 370px;
	border: 1px solid black;
	float: left;
	margin: 12px;
	border-radius: 14px;
	margin-left: 26px;
}
.podsearcher{
	border: 2px solid #D1F3F5;
	padding-left: 60px;
	height: 520px;
	background-color: white;
	border-radius: 24px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	border: 1px solid black;
}
.janr{
	width: 100px;
	height: 50px;
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: 200;
	font-size: 32px;
	line-height: 22px;
	text-decoration-line: underline;
	margin-top: 32px;
	margin-left: -20px;
	color: #000000;
}
.intobook{
	height: 270px;
	width: 220px;
	border: 1px solid black;
	border-radius: 36px;
	margin: 10px;
}
.namebook{
	height: 25px;
	width: 210px;
	border: 2px solid black;
	margin-left: 14px;
}
.read{
	margin-top: 14px;
	height: 25px;
	width: 150px;
	margin-left: 1px;
	padding: 3px;
	border-radius: 24px;
	padding-left: 49px;
	float: left;
	background-color: white;

}
.like{
    background-image: url(img/like.png);
	height: 25px;
	width: 25px;
	float: left;
	margin-top: 14px;
	margin-left: 26px;
	border-radius: 26px;
}