<!DOCTYPE html>
<html lang="ru">
<head>
<title> ADR Library </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"> 
    <meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
    <link rel="stylesheet" href="static/account.css" type="text/css" >
</head>
<body class="body" background="static/img/mainfon.png">
    <body class="body2">
        <p>user info: {{ acc_id }}</p>
        <p><a href="/logout">Выйти из аккаунта</a></p>
        <p><a href="/library">Библиотека</a></p>
    </body>
</body>
</html>