<!DOCTYPE html>
<html>
<head>
<title> ADR Library </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon"> 
    <meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
    <link rel="stylesheet" href="static/library.css" type="text/css" >
</head>
<body class="body1">
    <body class="body2">
        <div class="page.menu">
                <div class="logo"></div>
                <button class="knopka"><a href="/library">Библиотека</a></button>
                <form action="/account">
                    <button class="acount" type="submit"></button>
                </form>
            <div class="conteiner">
                <div class="searcher"> <!--поисковая таблица с жанрами-->

                       <!-- <p><input class="php" type="search" name="q" placeholder="Поиск по сайту"></p>  -->
                       <div class="d7">
                        <form>
                          <input class="php" type="text" placeholder="Искать здесь...">
                        </form>
                        </div>


                    <div class="filter">
                        <ul class="podsearcher">
                            <li class="janr">
                                Детектив
                            </li>
                            <li class="janr">
                                Классика жанра
                            </li>
                            <li class="janr">
                                Фантастика
                            </li>
                            <li class="janr">
                                Приключения
                            </li>
                            <li class="janr">
                                Детские книги
                            </li>
                            <li class="janr">
                                Романы
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="booker">
                    {% for m in menu %}
                    <div class="book">
                        <div class="intobook">
                            <img src="{{ m.photo }}" width="220" height="270" style="border-radius: 36px">
                        </div>
                        <div class="namebook">
                            <p>тут может быть ваша реклама</p>
                        <div class="read">
                            <p>Читать</p>
                        </div>
                        <div class="like">

                        </div>
                    </div>
                    </div>
                    {% endfor %}

        </div>
    </body>
</body>
</html>