<!DOCTYPE html>
<html>
<head>
<title> ADR Library </title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"> 
    <meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='style.css', v=1)}}">
</head>
<body class="body" background="knigi 2.png">
    <body class="body2" background="black.jpg">
        <div class="page.menu">

            <div class="barter">
                <button class="knopka">Главная страница</button>
                <button class="knopka2">Библиотека</button>
                <button class="knopka3">Новинки</button>
                <button class="lupa"></button>
                <!-- <button class="burger"></button> -->
            </div>
            <p class="text">Книга — это заряд для ума и воображения. </p>
        </div>
    </body>
</body>
</html>